<a href="https://colab.research.google.com/github/carolinalibarino/Python/blob/main/Python_aula_6_(exerc%C3%ADcios).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios, insira os valores abaixo em variáveis.

Nome:

Turma: Tarde ou Noite

Curso que faz na ETEC:

Período do Curso:

### Exercícios com todos os conteúdos aplicados até o momento.

In [ ]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Camila Marzinoti Luvizotto"
turma = "1°C"
curso: "Informática para Internet"
período: "Manhã"

In [ ]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
nome[7:]

'Marzinoti Luvizotto'

In [ ]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome[::-1]

'ottozivuL itonizraM alimaC'

In [ ]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."

In [ ]:
frase.split(",")

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [ ]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
print(type(numeros))
print(numeros)

<class 'list'>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos = ['caderno', 'celular', 'livro', 'lápis', 'borracha']
print(objetos)

['caderno', 'celular', 'livro', 'lápis', 'borracha']

In [ ]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
s1 = "As "
s2 = "esquiletes"
s3 = s1+s2
print(s3)

As esquiletes

In [ ]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = ('1', '2', '2', '3', '4', '4', '4', '5')
tupla.count('4')

3

In [ ]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
dicionario = { }
print(dicionario)

{}

In [ ]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
integrantes = {"Camis":16, "Carol":16, "Rapha":15}
print(integrantes)

{'Camis': 16, 'Carol': 16, 'Rapha': 15}

In [ ]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
integrantes = {"Camis":16, "Carol":16, "Rapha":15}
outro = {"Alvin": 15}
integrantes.update(outro)
print(integrantes)

{'Camis': 16, 'Carol': 16, 'Rapha': 15, 'Alvin': 15}

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
novo = {'Camis': 16, 'Carol': 16, 'Rapha': ['15', '16']}
print(novo)

{'Camis': 16, 'Carol': 16, 'Rapha': ['15', '16']}

In [ ]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista = ["informática", ('IW', 'PA'), {'APW':-10, 'AD':10}, 7.9]
print(lista)

['informática', ('IW', 'PA'), {'APW': -10, 'AD': 10}, 7.9]

In [ ]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:18]

'ientista de Dados'

## Exercícios de Manipulação de Strings

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
len(x)

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
txt[0]

'H'

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
txt[2:5]

'llo'

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [ ]:
# - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [ ]:
# - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(',')

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

## APÓS TERMINAR OS EXERCÍCIOS COMPARTILHAR LINK COMIGO: profcintiapinho@gmail.com

# Fim